/**
 * Components: Buttons
 */

.btn {
	color: theme-color("primary");
 	position: relative;
	&:after {
		position: absolute;
		content: '';
		top: 100%; left: 0;
		width: 100%;
		height: 2px;
		background-color: theme-color("primary");
		opacity: 0;
		transition: opacity 0.3s, transform 0.3s;
		transform: translateY(10px);
	}

 	&:hover, &:focus, &:active, &:active:hover, &:active:focus {
	 	&:after {
			opacity: 1;
			transform: translateY(0px);
		}
 	}
}

button [type='button'], [type='reset'], [type='submit'] {
    background-color: transparent;
    cursor: pointer;
}