<div class="row justify-content-between section_menu__body">

    <div class="col-sm-12 order-first order-sm-2">

        <!-- Heading -->
        <h1 class="section__heading mb-0">{{ section.title }}</h1>

        <!-- Devider Line -->
        <div class="divider_line"></div>

        <div class="row">
            {% for item in section.items %}
                {% include menu_item.html item=item %}                        
            {% endfor %}
        </div>
        <!-- / .row -->

    </div>
</div>