---
css-plugins:
  - "/assets/css/ionicons.css"
  - "/assets/css/iziModal.css"
  - "/assets/css/animsition.css"
css:
  - /assets/css/theme.css"
js:
  - "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
  - "/assets/js/google_maps.js"
  - "https://maps.googleapis.com/maps/api/js?key=AIzaSyAv54K0ZNJd5DvdoYETRZOMqMnutLMm7qw&callback=initMap"
  - "/assets/js/popper.js"
  - "/assets/js/bootstrap.js"
  - "/assets/js/alerts.js"
  - "/assets/js/iziModal.js"
  - "/assets/js/animsition.js"
  - "/assets/js/theme.js"
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
  {% include nav.html %}
  {{ content }}
  {% include footer.html %}
  </body>
</html>
