// ======
// Modals
// ======


#modal {
	
	// Social Icons

	.social__list {
		text-align: center;
	}


	// Modal Info Item

	.modal_info__item {
		margin-bottom: 3rem;

		> h4 {
			margin-bottom: 1rem;
		}
		> p {
			margin-bottom: 0;
		}
	}
	
}