// ====
// Navs
// ====


.nav {
	margin-bottom: 3rem;

	.nav-link {
		display: inline-block;
		position: relative;
		margin-right: 2rem;
		&:after {
			position: absolute;
			content: '';
			top: 100%; left: 0;
			width: 100%;
			height: 2px;
			background: theme-color("gray-custom");
			opacity: 0;
			transition: opacity 0.3s, transform 0.3s;
			transform: translateY(10px);
		}
		&:hover, &:focus, &:active {
			&:after {
				opacity: 1;
				transform: translateY(0px);
			}
		}

		&.active {
			&:after {
				position: absolute;
				content: '';
				top: 100%; left: 0;
				width: 100%;
				height: 2px;
				background: theme-color("gray-custom");
				opacity: 1;
				transition: opacity 0.3s, transform 0.3s;
				transform: translateY(0px);
			}
		}
	}
}