/**
 * Components: Navbar
 */

.navbar {
	min-height: $navbar-height;
	transition: all 0.1s;

	@include media-breakpoint-down(md) {
		padding: 0;
	}

	// Container

	> .container {
		
		@include media-breakpoint-down(md) {
			width: 100%;
		}

		> .navbar-collapse {
			flex-basis: 80%;
		}
	}

	// Nav

	&-nav {

		@include media-breakpoint-down(md) {
			padding-bottom: 1rem;
		}
	}

	// Nav link

	.nav-link {
		position: relative;
		&:after {
			position: absolute;
			content: '';
			top: 100%; left: 0;
			width: 100%;
			height: 2px;
			background-color: theme-color("primary");
			opacity: 0;
			transition: opacity 0.3s, transform 0.3s;
			transform: translateY(10px);
		}
		&:hover, &:focus, &:active {
			&:after {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}

	// Brand

	&-brand {
		font-family: $headings-font-family;
		font-size: 2rem;
		color: theme-color("primary");
		@include media-breakpoint-down(md) {
			font-size: 1.5rem;
		}
	}

	// Toggle

	&-toggler {
		display: inline-flex;
		align-items: center;
		height: $navbar-height;
		right: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	// Light

	&-light {
		background-color: $navbar-light-bg;
		height: $navbar-height + 30px;
		transition: all 0.1s;
	}

}